.cardText {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
  font-weight: bold;
  font-size: 1.4em;
}

.avatarHolder {
  display: inline-block;
  padding: 1rem;
}

.avatarInfoHandler {
  display: inline-block;
  padding: 1rem;
}

.fullCard {
  margin-right: 1rem;
  margin-left: 1rem;
  border-top: #55caeb 4px solid;
}
